*, html, body{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.designhomepagebpr img{
    width: 100%;
    background-size: cover;
}

.fCountainer-topnav{
    width: 100%;
    height: 36px;
    background-color: #d8233b;
    position: relative;
}

.menu-topnav{
    height: 30px;
    position: absolute;
    right: 130px;
    top: 5px;
}

.menu-topnav ul{
    display: flex;
}

.menu-topnav ul li{
    list-style-type: none;
}

.menu-topnav a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.menu-topnav a:hover{
    color: white;
}

.menu-topnav span{
    color: white;
    margin: 0 5px;
}

.nav-link.active{
    font-weight: 600;
    font-size: 17px;
    font-family: 'Consolas',monospace; 
}

/* responsive topnav */
@media only screen and (max-width: 768px) {
    .menu-topnav{
        right: 240px;
    }
}

@media only screen and (max-width: 600px){
    .menu-topnav{
        right: 90px;
    }
}
/* end navbar */

/* slide style */
.fCounatiner-slider{
    width: 100%;
    height: 65vh;
    background-color: #ededed;
    padding: 0 130px ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    height: 13px;
    width: 13px;

}

/* responsive slider */
@media screen and (max-width: 768px){
    .fCounatiner-slider{
        height: 45vh;
        padding: 30px;
    }
}

@media screen and (max-width: 600px){
    .fCounatiner-slider{
        height: 35vh;
        padding: 15px;
    }
}

/* slide style selesai */
.fCountainer-about{
    font-family: 'poppins', sans-serif;
}

.welcomebpr{
    padding: 60px 0 0 0;
}

.welcomebpr h1{
    font-size: 27px;
    font-weight: 800;
    font-family: 'Consolas',monospace; 
}

.welcomebprtata{
    color: #d8233b;
    font-family: 'Consolas',monospace; 
}

.welcomebpr-garis{
    width: 50px;
    height: 5px;
    background-color: #d8233b;
    margin: 9px auto;
}

.deskripsibpr{
    padding: 0 135px ;
}

.deskripsibpr p{
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

@media screen and (max-width: 600px){
    .deskripsibpr{
        padding: 15px;
    }
}

/* fotodeskripsi style */
.fCountainer-fotodeskripsi{
    padding: 0 130px;
}

.card-body{
    background-color: #d8233b;
    font-weight: 600;
}

.card-text{
    font-family: 'Consolas',monospace; 
    font-size: 20px;
}

@media screen and (max-width: 600px){
    .fCountainer-fotodeskripsi{
        padding: 0 15px;
    }
}

/* content style */
.fCountainer-contentbpr{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 80px 40px 80px;
}

.countainertata-content{
    display: inline-block;
    width: 330px;
    border: 1px solid darkgrey;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.judulcontent{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 329px;
    height: 40px;
    background-color: #d8233b;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.logojudul-content img{
    width: 30px;
    height: 30px;
    background-size: cover;
    margin: 5px;
}

.deskripsijudul-content{
    margin: 5px;
    color: white;
    font-size: 17px;
}

.contentbpr{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgray;
    box-sizing: border-box;
}

.foto-contentbpr img{
    height: 40px;
    width: 40px;
    background-size: cover;
    margin: 5px;
}

.tanggal{
    font-size: 12px;
}

.deskripsifoto-contentbpr{
    margin: 5px;
}

.contentisi{
    font-weight: 600;
    font-size: 12px;
}

.iconselanjutnya img{
    width: 30px;
    height: 30px;
    background-size: cover;
}

.selanjutnya{
    height: 40px;
    border: 1px solid darkgray;
    background-color: darkgray;
}

.selanjutnya a{
    text-decoration: none;
    line-height: 40px;
    color: black;
    font-weight: 600;
}

.countainertatakanan-content{
    display: inline-block;
    width: 330px;
    height: 210px;
    background-color: white;
    border: 1px solid darkgrey;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.contentbprkanan{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid darkgray;
    box-sizing: border-box;
    padding: 5px;
}

.persen{
    font-size: 20px;
    color: lightgreen;
}

.update p{
    margin-top: 20px;
    font-size: 12px;
}

@media screen and (max-width: 768px){
    .fCountainer-contentbpr{
        display: inline-block;
        justify-content: center;
    }

    .countainertata-content{
        margin: 0 auto 30px;
    }
}

@media screen and (max-width: 600px){
    .fCountainer-contentbpr{
        display: inline-block;
        justify-content: center;
    }

    .countainertata-content{
        margin: 0 auto 30px;
    }
}

/* footer style */
.judulfooter{
    font-size: 17px;
}

.footerbpr p{
    font-size: 12px;
    color: darkgrey;
    line-height: 2px;
}

.footerbpr a{
    font-size: 12px;
    color: darkgray;
    line-height: 2px;
    text-decoration: none;
}

.footerbpr a:hover{
    color: darkgray;
}

.ojk{
    display: flex;
    flex-direction: row;
}

.deskripsilogofooter p{
    font-size: 9px;
    width: 200px;
    color: darkgrey;
}






